---
import Layout from "../layouts/Layout.astro";
import PersonTableView from "../components/PersonTableView.vue";
---

<Layout>
  <div class="m-4 flex items-center justify-between">
    <h1 class="text-primary text-3xl font-bold">Persons Management</h1>
    <a href="/create" class="btn btn-primary">Add New Person</a>
  </div>
  <PersonTableView client:load />
</Layout>
